<header>

  <div>
    <h1>MuseMarket</h1>
    <p class="name">Hello {{username}}!
  </div>

  <nav>
    <a href="/likedPosts/{{id}}" >My Likes</a>
    <a href="/logout">Logout</a>
   </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    margin-right: 20px;
    margin-top: 20px;
  }

  nav a {
    text-decoration: none;
    font-size: 25px;
    background-color: #fce7f1;
    color: #42d2ed;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
  }
</style>