  {{> header }}

  <form action="/login" method="POST">
            <input type="text" name="name" placeholder="your name" />
            <input type='password' name="password" placeholder="your password" />
            <input type="submit" value="Submit" />
        </form>
        