 

<div class="hero">

 {{> header }}


<ul id="list" class="list">
  {{#each likedposts}} 
  <li class="user">
    <span>
    {{this.instrument_type}} 
    </span>
    <span>{{this.description}}</span>

    <span> {{this.contact_info}}</span>
    <span>{{this.price}}</span>
    </li>
  {{/each}}
</ul>
      </div>
  <script src="/index.js"></script>
