
  <form action="/login" method="POST">
    <label for="name">Name:</label>
            <input type="text" name="name" placeholder="your name" required/><br>
            <label for="name">Password:</label>
            <input type='password' name="password" placeholder="your password" required/><br>
            <input type="submit" value="Submit" />
            <p> if you don't have account <a href="/signup">sign up</a></p>
        </form>