<div class="hero">
<header>
  <h1>MuseMarket</h1>
</header>
<div class="form-flex">
  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="login()">Log In</button>
      <button type="button" class="toggle-btn" onclick="register()">Register</button>
      </div>
    <div class='user-icon'>
      <img src="/image/download.png">
    </div><br><br>
  <form id="login" class="input-group" action="/" method="POST">
    <label for="name">Name</label>
            <input class="input-field" type="text" name="name" placeholder="your name" required/><br>
            <label for="name">Password</label>
            <input class="input-field" type='password' name="password" placeholder="your password" required/><br><br>
            <span></span>
            <input type="submit" class="submit-btn" value="Submit" /><br><br>
            <div id='log'>{{error}}</div>
        </form>

          <form id="register" class="input-group" action="/signup" method="POST">
    <label for="name">Name</label>
            <input  class="input-field" type="text" name="name" placeholder="your name" required /><br>
            <label for="password">Password</label>
            <input  id="psw" class="input-field" type='password' name="password" placeholder="your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required/><br>
            <label for="confirmPassword">Confirm password</label>
            <input  class="input-field" type='password' name="confirmPassword" placeholder="confirm password"  required/><br><br>
            <input type="submit" class="submit-btn" value="join us" /><br><br>
          
          
            {{error_register}}
        </form> 

        </div>
                <div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>
</div>
        </div>
      <script src="/index.js"></script>
      
    
      
      
     
      <script>
      if ("{{page}}" === "signup") {
  register();
}</script>