  <form action="/signup" method="POST">
    <label for="name">Name:</label>
            <input type="text" name="name" placeholder="your name" required /><br>
            <label for="password">Password:</label>
            <input type='password' name="password" placeholder="your password"  required/><br>
            <label for="Confirm password">Confirm password:</label>
            <input type='password' name="confirm password" placeholder="confirm password"  required/><br>
            <input type="submit" value="join us" /><br>
            {{message}}
            {{error}}
        </form> 